[submodule "bluesky-app"]
	path = bluesky-app
	url = https://github.com/CommunityStream-io/social-app.git
[submodule "atproto"]
	path = atproto
	url = https://github.com/CommunityStream-io/atproto.git
[submodule "community-stream-lexicon"]
	path = community-stream-lexicon
	url = https://github.com/CommunityStream-io/community-stream-lexicon.git
[submodule "pinata-integration"]
	path = pinata-integration
	url = https://github.com/CommunityStream-io/pinata-integration.git
[submodule "official-pds"]
	path = official-pds
	url = https://github.com/bluesky-social/pds.git
